#pythonの一時ファイルを除外
__pycache__/
*.py[cod]

#環境変数ファイルを除外
.env

#仮想環境フォルダを除外
.venv
env/
venv/

#VS codeの設定ファイルを除外
.vscode/

#データベースファイルを除外
*.db
*.sqlite3

data/
data/uploads/

#画像ファイル
*.jpg
*.jpeg
*.png

#OSの一時ファイル
.DS_Store
Thumbs.db